ul,li{
	outline-style: none;
	list-style: none;
	margin: 0px;
	padding: 0px;
}
.header_title{
    margin-bottom: 10px;
}
.pagination{
    float: right;
}
.el-checkbox-button__inner{
    padding: 8px 12px;
}
.el-checkbox-button .el-checkbox-button__inner{
    border-radius: 5px !important
}
.isSure{
    float: right;
    margin: 10px;
}

	.el-dialog__header {
    	padding: 15px 20px 15px;
    	background-color: #409eff;
    	text-align: center;
	}
	.el-dialog__title {
	    line-height: 24px;
	    font-size: 20px;
	    color: #ffffff;
	}
	.el-dialog__headerbtn .el-dialog__close {
    	color: #ffffff;
	}